form {
  background-color: white;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

form input[type="text"],
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}